@tailwind base;
@tailwind components;
@tailwind utilities;

.Boss{
    background-image: url(../src/assets/pexels-pixabay-531880.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.Man{
    background-image: url(../src/assets/desktop-background-picture-nature-1920x1080-wallpaper-preview.jpg);
    background-position: center;
    background-size: cover;
}