@tailwind base;
@tailwind components;
@tailwind utilities;

.Boss{
    background-image: url(../src/assets/pexels-pixabay-531880.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}